---
import { Image } from "astro:assets";
import avatar from "../images/avatar.png";
import Navbar from "../layouts/navbar.astro";
import { getEntry } from "astro:content";

const about = await getEntry("about", "about");
const { Content } = await about.render();
---

<Navbar title="About">
  <section class="pt-24 max-w-6xl gap-20 items-center flex-col mx-auto flex">
    <Image
      height={300}
      width={300}
      src={avatar}
      alt="A description of my image."
      class={"hue-rotate-15 border-8 border-primary1 rounded-full grayscale-[0.5]"}
      transition:name="avatar"
    />
    <div transition:name="about">
      <h2
        class="font-bold text-6xl bg-gradient-to-r from-text1/80 via-text1/50 to-text1/30 clipText"
      >
        Gautam Vaishnav
      </h2><br />
      <p
        class="uppercase text-xl pt-2 clipText bg-gradient-to-r from-text1/80 via-text1/50 to-text1/30"
      >
        Software Engineer
      </p>
    </div>
    <div
      class="flex-grow prose max-w-3xl dark:prose-invert
    prose-h1:font-bold prose-h1:text-xl
    prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
    prose-headings:underline mx-auto sm:pb-16 pb-10"
    >
      <Content />
    </div>
  </section>
</Navbar>

<style>
  .clipText {
    @apply inline-block text-transparent bg-clip-text;
  }
</style>
