---
import Navbar from "../layouts/navbar.astro";
---

<Navbar title="Connect">
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus
    asperiores eos assumenda? Doloribus modi ducimus accusamus, voluptatum
    corrupti, labore eligendi quidem praesentium, dolorum dolores pariatur
    tempora reiciendis saepe. Ex, non.
  </p>
</Navbar>
