@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-slate-900;
  }
  ::selection {
    @apply bg-sky-500 text-white;
  }
  ::-webkit-scrollbar {
    width: 10px;
    @apply bg-slate-800;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-sky-500/50 rounded-md hover:bg-sky-500;
  }
  .navLink::after {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 2px;
    left: 0;
    @apply border-b-2 border-b-transparent;
  }
  .navLink:hover::after {
    animation: navLinkAni 0.5s ease;
    width: 110%;
    @apply border-b-green-500;
  }
  @keyframes navLinkAni {
    0% {
      width: 0%;
    }
    100% {
      width: 110%;
    }
  }

  .project:hover .info {
    animation: bottomZero 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    bottom: 0;
  }
  @keyframes bottomZero {
    from {
      bottom: -100px;
    }
    to {
      bottom: 0;
    }
  }
}
